project:
  type: book
  output-dir: site
  preview:
    port: 4200
    browser: true

resources:
- CNAME

book:
  title: "Kvantitatiiviset menetelmät -kurssin verkkokirja"
  author: "Oliver Saal"
  date: today
  license: CC BY-NC
  chapters:
    - index.qmd
    - part: "Ohjeita"
      chapters:
      - "docs/ohjeita/visualisoinninalkeet.qmd"
      - "docs/ohjeita/ohjeitaviittaamiseen.qmd"
      - "docs/ohjeita/tulostenraportointi.qmd"
    - part: "Tilastotiede"
      chapters:
      - "docs/tilastotiede/mittaustasot.qmd"
      - "docs/tilastotiede/hypoteesitestaus.qmd"
      - "docs/tilastotiede/mallioletukset.qmd"
      - "docs/tilastotiede/sijaintiluvut.qmd"
      - "docs/tilastotiede/hajontaluvut.qmd"
      - "docs/tilastotiede/merkitsevyysluvut.qmd"
      - "docs/tilastotiede/eiparametrisettestit.qmd"
      - "docs/tilastotiede/ttesti.qmd"
      - "docs/tilastotiede/korrelaatio.qmd"
      - "docs/tilastotiede/khiinneliö.qmd"
    - part: "Excel-toiminnot"
      chapters:
      - "docs/excel/excelinperusteet.qmd"
      - "docs/excel/excelinkäyttöliittymä.qmd"
      - "docs/excel/nimeäminenexcelissä.qmd"
      - "docs/excel/yleisiätoimintoja.qmd"
      - "docs/excel/excelgrafiikka.qmd"
      - "docs/excel/funktiot.qmd"
      - "docs/excel/lambdakaavat.qmd"
    - part: "Työkalut"
      chapters:
      - "docs/työkalut/webropol.qmd"
      - "docs/työkalut/tilastotyökalut.qmd"
      - "docs/työkalut/dmptuuli.qmd"
      - "docs/työkalut/tietoarkistot.qmd"
      - "docs/työkalut/zotero.qmd"
    - viiteluettelo.qmd
    - history.qmd
  sidebar:
    - id: ohjeita
      title: "Ohjeita"
      style: docked
      align: right
      collapse-level: 1
      logo: "pics/logo_nimi_nega.png"
      logo-alt: "Pelastusopiston logo"
      contents:
        - "docs/ohjeita/visualisoinninalkeet.qmd"
        - "docs/ohjeita/ohjeitaviittaamiseen.qmd"
        - "docs/ohjeita/tulostenraportointi.qmd"
    - id: tilastotiede
      title: "Tilastotiede"
      contents:
        - "docs/tilastotiede/mittaustasot.qmd"
        - "docs/tilastotiede/hypoteesitestaus.qmd"
        - "docs/tilastotiede/mallioletukset.qmd"
        - "docs/tilastotiede/sijaintiluvut.qmd"
        - "docs/tilastotiede/hajontaluvut.qmd"
        - "docs/tilastotiede/merkitsevyysluvut.qmd"
        - "docs/tilastotiede/eiparametrisettestit.qmd"
        - "docs/tilastotiede/ttesti.qmd"
        - "docs/tilastotiede/korrelaatio.qmd"
        - "docs/tilastotiede/khiinneliö.qmd"
    - id: exceltoiminnot
      title: "Excel-toiminnot"
      contents:
        - "docs/excel/excelinperusteet.qmd"
        - "docs/excel/excelinkäyttöliittymä.qmd"
        - "docs/excel/nimeäminenexcelissä.qmd"
        - "docs/excel/yleisiätoimintoja.qmd"
        - "docs/excel/excelgrafiikka.qmd"
        - "docs/excel/funktiot.qmd"
        - "docs/excel/lambdakaavat.qmd"
    - id: työkalut
      title: "Työkalut"
      contents:
        - "docs/työkalut/webropol.qmd"
        - "docs/työkalut/tilastotyökalut.qmd"
        - "docs/työkalut/dmptuuli.qmd"
        - "docs/työkalut/tietoarkistot.qmd"
        - "docs/työkalut/zotero.qmd"
  navbar:
    background: primary
    title: "Kvantitatiiviset menetelmät"
    left:
      - index.qmd
      - sidebar:ohjeita
      - sidebar:tilastotiede
      - sidebar:exceltoiminnot
      - sidebar:työkalut
      - viiteluettelo.qmd
      - history.qmd
  favicon: "pics/logo_lapinakyva.png"
  repo-url: https://github.com/osaal/KVANT-23-PEO/
  repo-actions: [issue]
  page-footer:
    center: "Tekijänoikeudet (c) 2023-2024, Oliver Saal"
    background: primary
    border: false
  twitter-card: true

bibliography: references.bib
citation: true

format:
  html:
    theme:
    - united
    - custom.scss
    lang: fi
    toc: true
    toc-depth: 3
    toc-expand: true
    reference-location: margin
    page-layout: article
    grid:
      sidebar-width: 250px
      body-width: 900px
      margin-width: 200px
    mermaid-format: png

